<div class="page-header">
  <%= link_to canteen_menus_path(@canteen), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_canteen_menu_path(@canteen,@menu), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%= link_to canteen_menu_path(@canteen,@menu), :class => 'btn btn-primary' do %>
    <%= fa_icon 'print', text: _('Print') %>
  <% end %>
  <h1><%= @menu.date %></h1>
</div>

<%= render 'menus/show' %>