<div class="page-header">
  <%= link_to new_canteen_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Canteen
  <% end %>
  <h1>Listing canteens</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Webcam url</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @canteens) do |canteen| %>
            <td><%= canteen.name %></td>
            <td><%= canteen.webcam_url %></td>
            <td><%= link_to 'Show', canteen %></td>
        <td><%= link_to 'Edit', edit_canteen_path(canteen) %></td>
        <td><%= link_to 'Destroy', canteen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
